{% extends 'base.html' %}
	{% block title %}
	<title> Blog home</title>
	{%  endblock %}

	{% block content %}
		<h1> Madjid Blog</h1>
	{% for post in posts %}
	<article>
		<div class="post-title">
		<h2>{{ post.title}}</h2>

			{% if request.user.is_authenticated %}
			<div>
				<a href="{% url 'posts:edit' slug=post.slug %}"> Edit Post </a>
				<a href="{% url 'posts:delete' slug=post.slug %}"> Delete Post </a>
			</div>	
			{% endif %}
		</div>

		<h5 class="post-author"> Published by <i> {{ post.author_or_default }} </i> at {{ post.created_on|date:'j F Y'}}</h5>
		<p class="post-excerpt">{{ post.content|safe|truncatewords:50}}</p>
		<form action="{% url 'posts:post' slug=post.slug %}"> 
			<button class="btn btn-submit"> Read more </button>
		</form>

	</article>


	{% endfor %}
	{%  endblock %}






